.homeCol1 {
  text-align: center;
  padding: 20px !important;
  margin: 20px auto !important;
  width: 100%;
}
.homeCol2 {
  text-align: center;
  padding: 20px !important;
  margin: 10px auto !important;
  width: 100%;
}
.mainHeading {
  color: rgb(75, 68, 175);
}
